<div ng-controller="infoCtrl">
    <h3 align="center"><u>DELETE ACCOUNT</u></h3>
    <div align="center" class="contacts-form-container">

        <form name="MyForm" class="bs-example bs-example-form" data-example-id="input-group-sizing">
            <div class="border-class">
                <br>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">Customer ID</span>
                    <input class="form-control" placeholder="ID" aria-describedby="sizing-addon1" ng-model="id">
                </div>
                <br>
                <button type="button" class="btn btn-default" ng-click="delete(id)">Submit</button>
                <br><p></p>
            </div>
        </form>

    </div>

</div>