<html ng-app="index">

<head>
    <link rel="stylesheet" type="text/css" href="public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="modules/core/client/css/nav.css">
</head>

<body>
<div ng-include="'modules/core/client/views/core/navigation.core.tpl.html'"></div>
<!--<div ui-view></div>-->s

<script src="public/lib/angular/angular.min.js"></script>
<script src="public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="public/lib/angular-route/angular-route.min.js"></script>
<script src="modules/core/client/controllers/core.client.controller.js"></script>
<script src="modules/core/client/routes/core.client.route.js"></script>

</body>

</html>